/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

.index {
  width: 100%;
  margin: 50px 0;
  table-layout: fixed;
}

td {
  padding: 5px;
}

.index-headding-item1 {
  width: 20%;
}

.index-headding-item2 {
  width: 60%;
}

.index-main-item1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.index-main-item2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.index-main-item3 {
  text-align: center;
}

.error-box {
  width: 500px;
  margin: 10px 0;
  background-color: #f1f1f1;
}

.error-message {
  padding: 5px 0;
  color: white;
  background-color: red;
}

.error-message-text {
  color: red;
  margin: 3px 30px;
}